---
---

@import "{{ site.theme }}";

html{
    color: white;
    background-color: #282828;
}

body {
    margin-left:auto;
    margin-right:auto;
}

#page {
    display: block;
}

h1, h2 {
    text-align: center;
}

.active {
    font-weight: bolder;
    color: white;
}

footer {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
}

.right {
    float: right;
    position:absolute;
    right:0px;
}
