<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Regrouping the recipes I like.">
    <meta name="keywords" content="recipes, food">
    <meta name="author" content="Pedro Luis Bernardos">
    {% seo %}
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include head-custom.html %}
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ "/" | absolute_url }}">
            <img src="{{ "/" | absolute_url }}assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Salads 🥗</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}pages/SmokedSalmonAvocadoSalad.html">Smoked Salmon Avocado Salad</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}pages/VeganKaleCaesarSalad.html">Vegan Kale Caesar Salad</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Indian 🇮🇳</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}pages/TandooriChicken.html">Tandoori Chicken</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}pages/ShahiPaneerPubjabi.html">Shahi Paneer Pubjabi style</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}pages/IndianChickenCurry.html">Indian Chicken Curry (Murgh Kari)</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}pages/OnionBhaji.html">Onion Bhaji with Raita</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Italian 🇮🇹</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}pages/ItalianMeatballsWithTomatoSauce.html">Italian Meatballs with Tomato Sauce</a>
                </div>
              </li>
            </ul>
          </div>
          </div>
        </nav>

      <section>
        {{ content }}
      </section>
    
      <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Copyright -->
        <div class="p-4 text-center">
          <p class="view">
            <a href="{{ "/" | absolute_url }}">🔙 back to the home page</a>
          </p>
          © Copyright:
          <a class="text-reset fw-bold" href="{{ site.github.owner_url }}" target="_blank">Pedro Luis Bernardos</a>
          <p>
            <small>Hosted on GitHub Pages &mdash; <a class=text-reset fw-bold" href="https://github.com/pages-themes/minimal" target="_blank">Theme</a> by 
              <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>
            </small>
          </p>
        </div>
      </footer>
    </div>

    <!-- JavaScript -->
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
